
body {
  background: #fff;
  color: #666666;
  overflow-x: hidden;
  font-family: Raleway;

}

a {
  color: #1dc8cd;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #1dc9ce;
  outline: none;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: absolute;
  left: 0;
  right: 10rem;
  transition: all 0.5s;
  z-index: 997;
  top: 2rem;
}


#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 30px;
  margin-left: 12rem;
}
.intro_sub{
  margin-top: 9rem;
  margin-left: 12rem;
}
.intro_img
{
  margin-left: -20rem;
  margin-top: 7rem;
}
.contact_image
{
  background: url(../img/group-82.png) center top no-repeat;

}

#header.header-fixed {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  background: linear-gradient(45deg, rgba(99, 178, 234, 0.67), rgb(255, 255, 255)), url(../img/header.png) center top no-repeat;
  background-size: cover;
  position: relative;
}

#about_intro {
  width: 100%;
  background: linear-gradient(45deg, #545b6200, #167fe269),transparent url(../img/about/mask.png) center top no-repeat padding-box;
  background-size: cover;
  position: relative;
}
#offer {
  width: 100%;
  background: linear-gradient(45deg, rgba(99, 178, 234, 0.67), rgb(255, 255, 255)) center top no-repeat;
  background-size: cover;
  position: relative;
}
.group12_img
{
    margin-top: 8rem;
}


@media (min-width: 1025px) {
  #intro {
    background-attachment: fixed;
  }
 
}



#intro .intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.intro_section
{
  margin-left: 1rem;
}

#intro p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#intro .btn-get-started {
 
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.28px;
  display: inline-block;
  padding: 8px 28px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #2136ad;
  box-shadow: 1px 19px 15.1px 2.9px rgba(22, 37, 120, 0.16);
  background-color: #ffffff;
}
.what_we_offer
{
 
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.28px;
  display: inline-block;
  padding: 8px 7px;
  transition: 0.5s;
  margin: 10px;
  color: #2136ad;
}

#intro .btn-get-started:hover {
  color: #1dc8cd;
  background: #fff;
}


.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin-right: 4rem;
}
.group_imgs
{
  margin-left: 14rem;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
  .comment_section
  {
    display: contents;
  }
  #mobile-nav-toggle {
    display: inline;
  }
  #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .rect_abt_img {
    margin-top: -12rem !important;
    margin-left: -1rem !important;
    width: 69% !important;
}
.about_img {
  position: initial;
  margin-left: 0rem;
  height: 59rem;
}
}

.dot_class
{
  color: #21252966;
    width: 22%;
    font-size: 14px;

}
/* Nav Meu Styling */
.nav-menu a {

 
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 6.93;
  letter-spacing: 3.72px;
  text-align: left;
  color: #3247b5;
  padding: 10px;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #1dc8cd;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #1dc8cd;
}

#mobile-nav ul .menu-item-active {
  color: #1dc8cd;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: italic;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #eff5f5;
}



.header_class
{
 
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 8.58px;
  text-align: left;
  color: #2136ad;
}
.one_class
{
 
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: 5.72px;
  text-align: left;
  color: #f1963f;
}
.heading_sub
{
 
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 2.72px;
  text-align: left;
  color: #2e3039;
}
.elipse1
{
  object-fit: contain;
  opacity: 0.15;
  background-color: #2136ad;
  border-radius: 135px;
  width: 35%;
  margin-left: 14rem;
  margin-bottom: -13rem;
}
.elipse2
{
  object-fit: contain;
  opacity: 0.15;
  background-color: #f6983e;
  border-radius: 135px;
  width: 30%;
  margin-top: -7rem;
}
.david_class
{
  font-size: 17.5px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: 26.36px;
  text-align: left;
  color: #ffffff;
  margin-left: 21rem;
}
.garette_class
{
  font-size: 17.5px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: 26.36px;
  text-align: left;
  color: #ffffff;
  margin-left: 21rem;
}
.text1
{
  margin-top: 4rem;
  margin-bottom: -5rem;
}
.login_class
{
  opacity: 0.99;
  border: solid 1px rgba(255, 255, 255, 0.45);
  background-color: #3045b4;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 1.76px;
  text-align: left;
  color: #ffffff;
  padding: 4px 22px 4px;
  border-radius: 6px;
}
.music_class
{
  width: 74%;
  margin-top: -10rem;
  margin-left: 7rem;
}

/* slider style */
* {
  box-sizing: border-box;
}

.wrapper {
  word-wrap: break-word;
  width: 90%;
  padding: 2rem 0;
}

.wrapper,
.container {
  margin: 0 auto;
}



.slideDiv,
.controls {
  position: absolute;
}

.slideDiv,
.slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.slide {
  background-size: cover;
}

.slide:first-child {
  background: linear-gradient(45deg, rgb(248, 249, 250), rgba(9, 122, 218, 0.68)), url(../img/header.png) center top no-repeat;
}

.slide:nth-of-type(2) {
  background: linear-gradient(45deg, rgb(248, 249, 250), rgba(9, 122, 218, 0.68)), url(../img/header.png) center top no-repeat;
}

.slide:nth-of-type(3) {
  background: linear-gradient(45deg, rgb(248, 249, 250), rgba(9, 122, 218, 0.68)), url(../img/header.png) center top no-repeat;
}

.slide:last-child {
  background: linear-gradient(45deg, rgb(248, 249, 250), rgba(9, 122, 218, 0.68)), url(../img/header.png) center top no-repeat;
}

.controls {
  top: 48%;
  right: 10rem;
  padding: 0 0.63rem;
  z-index: 5;
  text-align: center;
}

.button { 
  width: 0.9375rem;
  height: 0.9375rem;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease .2s;
}

.button:not(:last-child) {
  margin-bottom: 0.63rem;
}


.btn1 {
  outline: none;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  border: solid 2px #2136ad;
}
.music_head
{
  margin-left: 65rem;
  margin-top: -3rem;
}

.btn2 {
  outline: none;
  height: 15px;
  opacity: 0.5;
  border: solid 2px #2136ad;
  background-color: #fff;
  margin-top: 10px;
}
.button:hover,
.button:focus {
  opacity: 1;
}

/* hamburger style */
#icon {
  width: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  left: 4rem;
  bottom: 4rem;

}
#icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 4px;
  background: #2136ad;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#icon span:nth-child(even) {
  left: 50%;
  border-radius: 50%;
}

#icon span:nth-child(odd) {
  left:0px;
  border-radius: 50%;
}
#icon span:nth-child(1), #icon span:nth-child(2), #icon span:nth-child(3) {
  top: 0px;
}
#icon span:nth-child(4), #icon span:nth-child(5), #icon span:nth-child(6) {
  top: 14px;
}
#icon span:nth-child(7), #icon span:nth-child(8), #icon span:nth-child(9) {
  top: 29px;
}
#icon span:nth-child(3) {
    left: 100%;
}

#icon span:nth-child(6) {
    left: 100%;
}

#icon span:nth-child(9) {
    left: 100%;
}

#icon.open span:nth-child(1), #icon.open span:nth-child(2), #icon.open span:nth-child(3) {
  top: 20px;
}

#icon.open span:nth-child(7), #icon.open span:nth-child(8), #icon.open span:nth-child(9) {
  top: 20px;
}

.about_us
{
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: 5.72px;
    text-align: left;
    color: #2136ad;

  }
  .about_sub
  {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: 5.72px;
    text-align: left;
    color: #85c4ff;
  }
  .blues_img {
    position: absolute;
    margin-left: 5rem;
}
  .horizontal_class, .horizontal_class1
  {
       border-bottom: 1px solid #85c4ff;
       margin-top: -8px;
       margin-bottom: unset;
       width: 6rem;
       margin-left: 3rem;
       margin-right: 1rem;
  }
  .about_class
  {
    margin-left: 16rem;
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
  .since_class {
    margin-left: 35rem;
    margin-top: 3rem;
}
.year_class {
  margin-left: 39rem;
  margin-top: -2rem;
}
  .about_row
  {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
  .rect_abt_img
  {
    margin-top: -54rem;
    margin-left: -1rem;
    width: 20%;

  }
  .music_stark
  {
    margin-bottom: 4rem;
  }
  .offer_bottom
  {
    margin-bottom: 20rem;
  }

  .k {
    font-family: Roboto;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.94;
    letter-spacing: 12.87px;
    text-align: left;
    color: #2136ad;
  }
  .k span {
    color: #85c4ff;
    position: absolute;
  }
  .star_class
  {
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: 5.88px;
    text-align: left;
    color: #2136ad;
    
  }
  .star_sub_class
  {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 1.19px;
    text-align: left;
    color: #2e3039;
   
  }
  .read_more
  {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.84;
    letter-spacing: 1.28px;
    text-align: left;
    color: #2136ad;
   
  }
  .get_more
  {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.84;
    letter-spacing: 1.28px;
    text-align: left;
    color: #aedcff;
  }
  .sub_class
  {
    opacity: 0.46;
    background-color: #85c4ff;
    padding: 14px 32px 14px 6px;
    color: white;
  }
  #subscribe
  {
    margin-top: -9rem;
  }
  .more_class
  {
    opacity: 0.99999999;
    background-color: #85c4ff;
    padding: 14px 32px 14px 6px;
    color: #2136ad;
  }
  .satisfied_client
  {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 4.26px;
    text-align: left;
    color: #2e3039;
  }
  .quotes
  {
    opacity: 0.25;
    font-size: 23px;
  }
  .comments
  {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 1.19px;
    text-align: left;
    color: #2e3039;
  
  }
  .box_class
  {
    opacity: 0.46;
    background-color: #85c4ff;
    height: 50px;
    width: 50px;
  }
  .name_class
  {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 1.19px;
    text-align: left;
    color: #2136ad;
    margin-left: 5rem;
    position: absolute;
    margin-top: 9px;
  }
  .music_class
  {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 1.19px;
    text-align: left;
    color: #2e3039;
    margin-top: -1rem;
    margin-left: 5rem;
  }
  .vertical_style
  {
    margin-left: 19rem;
    margin-top: -5rem;
    position: absolute;
  }
  .border_class
  {
    width: 1920px;
    height: 3269px;
    opacity: 0.75;
  }
  .about_img
  {
    background: linear-gradient(45deg, rgb(182, 213, 233), rgb(255, 255, 255)) center top no-repeat;
    
  }
  .about_us_img
  {
    background: linear-gradient(45deg, #85c4ff, #B0D2F2B8),#fff url(../img/about/about.png) center top no-repeat padding-box;
    mix-blend-mode: overlay;
    background-size: cover;

  }
  .group13_class
  {
    margin-left: 12rem;
  }
  .blues_row
  {
    margin-top: 10rem;
  }
  img.journey_class {
    margin-left: 38rem;
    margin-top: 6rem;
}
  .blues_about
  {
    position: absolute;
    margin-left: -8rem;
  }
  .about_main, .offer_main
  {
    margin-left: 12rem;
    position: unset;
  }
  .about_img1
  {
    margin-left: 25rem;
  }
  .what_we_offer_heading
  {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: 5.72px;
    text-align: left;
    color: #2136ad;
  }
  .offer_class
  {
    margin-top: 12rem;

  }
  .offer_sub
  {
    font-size: 19px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: 5.88px;
    text-align: left;
    color: #2136ad;
  }
  .not_a_member
  {
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: 5.88px;
    text-align: left;
    color: white;
    margin-top: 7rem;
  }
  .quick_link_head
  {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: 5.88px;
    text-align: left;
    color: white;
  }
  .get_more1
  {
    margin-bottom: 5rem;
  }
  .quick_link
  {
    margin-left: 2rem;

  }
  .not_a_member_sub
  {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: 5.88px;
    text-align: left;
    color: white;
    /* margin-top: 7rem; */
  }
  .offer_sub_headings
  {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 1.19px;
    text-align: left;
    color: #2e3039;
  }
  .top_class
  {
    margin-top: 3rem;
  }
  .col-sm-4.subscribe_box {
    box-shadow: 1.3px 25px 66.4px 6.6px rgba(33, 54, 173, 0.25);
    background-color: #1e32a9;
    margin-left: 11rem;
   
}
.subcription_heading
{
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: 5.72px;
  text-align: left;
  color: #aedcff;
}
.subcribe_row
{
  margin-top: 9rem;
  margin-left: 2rem;

}

.images_class
{
  margin-left: 19rem;
  margin-top: -29rem;
}
.third_img
{
    margin-top: -27px;
    width: 98%;
    margin-left: -41px;
 
}
.group7
{
  width: 75%;
}
.group7_img
{
  margin-top: 0rem;
}
.subcribe_head {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 5.88px;
  text-align: left;
  color: #ffffff;
}
.subcribe_head1
{
  color: #aedcff;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 5.88px;
  text-align: left;
}
.subcribe_row_class
{
  margin-top: 4rem;
  margin-left: 2rem;

}
.row.subcribe_row_class1 {
  margin-left: 2rem;
  margin-top: 2rem;
}
.subscribe_sub
{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 1.19px;
  text-align: left;
  color: #aedcff;
}
.subcribe_img {
  margin-top: -52rem;
  margin-left: 108rem;
}
.blog_back
{
    width: 100%;
    background: linear-gradient(45deg, rgba(99, 178, 234, 0.67), rgb(255, 255, 255)) center top no-repeat;
    background-size: cover;
    position: relative;
}
.blog_sub_heading
{
  margin-top: -15rem;
  margin-left: 0rem;
  margin-right: 10rem;
}
.blog_sub_part2
{
  margin-left: 41rem;
  z-index: 9;
  margin-bottom: 7rem;
}
.blog_sub_part1
{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 1.19px;
  text-align: left;
  color: #2e3039;
}
.blog_sub_part
{
  z-index: 9;
  margin-left: 42rem;
}
.photo_class
{
  display: flex;
  z-index: 9;
}
.first_pic
{
  padding: 2rem;
}
.not_a_member_row
{
  margin-left: 3rem;
}
.box_class1{
    width: 30rem;
    background-color: #1d5ba873;
    margin-top: 6rem;
}
.copyright_head
{
  margin-left: 2rem;
  margin-top: 4rem;
}
.copyright_head1
{
  margin-left: 2rem;
}
.fb
{
  font-size: 25px;
  color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1!important; /* Firefox */
  font-size: 13px !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}
form {
  width: 40rem;
}
.text-end
{
  text-align: end;
}
.third {
  height: 4em;
    width: 26%;
    margin: 1em auto;
    background-color: white;
    border: none;
    letter-spacing: 5.88px;
    color: #2136ad;
    border-radius: 0;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white!important;
  font-size: 13px !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white!important;
  font-size: 13px !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}
input,textarea
{
  border-radius: 0 !important;
  background: #244cad !important;
  border: 1px solid #2d40af !important;
  padding: 2rem !important;
}
.get_in_touch
{
  margin-left: 0rem;
}
.form {
  margin-top: 10rem;
  margin-left: 4rem;
}
.vl {
    border-left: 3px solid #244cad;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: 25rem;
    top: 17rem;
}
.about_intro_sub
{
    margin-top: 23rem;
    margin-left: 12rem;

}
@media (min-width: 320px) and (max-width: 900px)
{
  .box_class1 {
    width: auto;
   
}
.about_sub{
  display: contents;
}
.group13_class {
  margin-left: 0rem;
  width: 100%;
}
.since_class {
  margin-left: 0rem;
  margin-top: 7rem;
}
.year_class {
  margin-left: 5rem;
  margin-top: -2rem;
}
.blues_about {
  position: inherit;
  margin-left: 1rem;
}
img.journey_class {
  margin-left: 0rem;
  margin-top: 6rem;
}
.intro_section {
  margin-left: 0rem;
}
.about_intro_sub {
  margin-top: 15rem;
  margin-left: 2rem;
}
.not_a_member_row {
  margin-left: 1rem;
}
.quick_link {
  margin-left: 3rem;
}
.copyright_head {
  margin-left: 3rem;
  margin-top: 0rem;
}
.copyright_head1 {
  margin-left: 3rem;
}

.vl{
  display: none;
}
  #header #logo img {
    padding: 30px;
    margin-left: 0rem;
  }
  .group_imgs
{
  margin-left: 0rem;
}
  .intro_sub{
    margin-top: 8rem;
    margin-left: 0rem;
  }
  .intro_img
  {
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .controls
  {
    display: none;
  }
  .horizontal_class1 {
    border-bottom: 1px solid #85c4ff;
    margin-top: 0px;
    margin-bottom: unset;
    width: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
}
#subscribe
{
  margin-top: 0rem;

}
.offer_bottom
  {
    margin-bottom: 0rem;
  }

  .music_head
    {
      margin-left: 0rem !important;
      margin-top: 0rem !important;
    }
    .about_main
    {
      margin-left: 3rem;
    }
    .offer_main
    {
      margin-left: 1rem;
    }
    .about_class {
      margin-left: -3rem;
      margin-top: 8rem;
      margin-bottom: 6rem;
  }
  .vertical_style {
    margin-left: 0rem;
    margin-top: 0rem;
    position: relative;
}
.form {
  margin-top: 0rem;
  margin-left: 0rem;
}
form {
  width: auto;
}
.get_in_touch_sub {
  color: #244cad;
}
.third {
 width: auto;
}
.images_class {
  margin-left: 0rem;
  margin-top: 0rem;
}
.third_img {
  margin-top: -17px;
  width: 98%;
  margin-left: -28px;
}
.about_img1 {
  margin-left: 0rem;
}
section#subscribe {
  margin-top: -2rem;
}
.col-sm-4.subscribe_box {
  margin-left: 0rem;
}
section#blog {
  margin-top: 0rem;
}
.photo_class {
  z-index: 9;
  margin-left: -4rem;
  display: block;
}
.blog_sub_heading {
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 2rem;
}
}
@media (min-width:768px) and (max-width:1024px)
{
  .photo_class {
    margin-left: 0rem;
}
.box_class1
{
  width: 20rem;
}

.copyright_head, .copyright_head1, .quick_link {
  margin-left: -1rem;
}
  .group7{
    width: initial !important;
  }
  .intro_img
  {
    margin-top: 43rem ;
  }
  .about_img {
    position: initial !important;
    margin-left: 0rem !important;
    height: 59rem !important;
}
.images_class
{
  margin-left: 0rem;
    margin-top: 0rem;
    display: flex;
}
.service_class
{
  margin-left: -3rem;
}

  
}
@media (min-width:1024px) and (max-width: 1366px)
{
  .box_class1 {
    width: 30rem;
  }
  .group12_img {
    margin-top: 17rem;
}
img.journey_class {
  margin-left: 17rem;
}
.since_class {
  margin-left: 15rem;
  margin-top: 13rem;
}
.year_class {
  margin-left: 20rem;
}
.blues_img {
  position: absolute;
  margin-left: 0rem;
}
.group13_class {
  margin-left: 0rem;
}
.blues_about {
  margin-left: 0rem;
}
.about_intro_sub {
  margin-top: 21rem;
  margin-left: 10rem;
}
  .about_main {
    margin-left: 2rem;
  }
  form {
    width: auto;
}
.blog_sub_part {
  margin-left: 25rem;
}
.blog_sub_part2 {
  margin-left: 24rem;
}
.photo_class {
  display: block;
}
  .vl {
    margin-left: 8rem;
}
  .about_img1 {
    margin-left: 0rem;
  }
  .col-sm-4.subscribe_box {
    margin-left: 5rem;
}
.horizontal_class1 {
  width: 1rem;
}
#header
{
  right: 0rem;
}
.intro_section {
  margin-left: 0rem;
}
.about_class {
  margin-left: -3rem !important;
  margin-top: 8rem !important;
  margin-bottom: 6rem;
}
.rect_abt_img {
  margin-top: -12rem !important;
  margin-left: -1rem !important;
  width: 69% !important;
}
.vertical_style {
  margin-left: 0rem;
  margin-top: 0rem;
  position: relative;
}

}